@charset "UTF-8";

body{
    background-color: grey;
}
header {
    background-color: ivory;
    padding: 10px;
    margin: 10px 10px 10px 10px;
    font-family: Arial, Helvetica,Sans-serif;

}
nav{
    border-radius: 3px;
    background-color:rgb(102,102,102);
    padding:3px;
    font-family: Arial, Helvetica,Sans-serif;
    box-shadow: 3px 4px 5px 1px rgb(0 0 0 / 50%);
    text-align:center;
}
nav > a{
    text-decoration: none;
    color: darkred;
    font-weight: bolder;
    margin-right: 35px;
}
nav > a:hover{
    text-decoration:underline;
    color: yellow;
    font-size:1.1em;
}
main {
    background-color: ivory;
    padding: 10px;
    margin:10px;
    border-radius: 5px 20px;
    box-shadow: 2px 5px 19px -1px black;
    
}
article{
    border-radius: 8px;
    background-color: lightgrey;
} 
article > aside {
    background-color: rgb(165,165,165)
}
h2{
    text-align: center;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1px;
    margin: 10px;
    font-family: Arial, Helvetica,Sans-serif;
}
footer > p{
    margin: 0px;
}